body {
    margin: 0;
    padding: 0;
    background-color: #1d2c4c;
}

.container {
    text-align: center;
    width: 30%;
    height: 50%;
    margin: 12% 35%;
    background-color: #cad2e2;
    border-radius: 15px;
}

.logo_coper {
    width: 50%;
    margin-top: 20px;
}

.box-log {
    border-radius: 7px;
    border: 0;
    width: 50%;
    height: 17px;
    box-shadow: 9px 4px 20px #1d2c4c;
}

.label-log {
    font-size: 20px;
}

.botao-log {
    box-shadow: 9px 4px 20px #1d2c4c;
    width: 60px;
    height: 19px;
    border-radius: 4px;
    border: 0;
}